
<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" routerLink="/home">
        <i class="fa fa-navicon " style="font-size:24px"></i>
    </a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link " routerLink="/home" routerLinkActive="active">HOME <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" routerLink="/shop" routerLinkActive="active">SHOP</a>
        <a class="nav-item nav-link" routerLink="/magazine" routerLinkActive="active">MAGAZINE</a>
      </div>
    </div>
    <form class="form-inline my-2 my-lg-0">
        <i class="fa fa-search"></i>
        <input class="form-control mr-sm-2" style="margin-left:10px;"  class="form-control" type="text" name="search" [(ngModel)]="searchText" (keyup)="onSearchValueChange()" sautocomplete="off" placeholder="Search your product here..!!">
        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        <span class='badge badge-warning' id='lblCartCount'>{{cartCount}}</span>
        <a href="#" style="color:black;padding-left:10px;">Login</a>
    </form>
  </nav>
